<div class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta"><%= @article.created_at %></p>

  <p>
    <% if @article.tags.size > 0 %>
        <% @article.tags.each do |tag| %>
            <span class="label label-default">
              <%= link_to tag.name, tag_path(tag) %>
            </span>
        <% end %>
    <% end %>
  </p>

  <div class="col-sm-8 col-md-7">
    <p><%= @article.body %></p>
  </div>
  <div class="col-sm-3 col-md-2">
    <p>
      <% if @article.image.exists? %>
          <%= image_tag @article.image.url(:medium) %>
      <% end %>
    </p>
  </div>

</div>


<h3 class="page-header">Comments (<%= @article.comments.size %>)</h3>
<% if @article.comments.size > 0 %>
    <%= render partial: 'articles/comment', collection: @article.comments %>
<% else %>
    <h4>No comments</h4>
<% end %>

<%= render partial: 'comments/form' %>

<nav aria-label="...">
  <ul class="pager">
    <li><%= link_to 'back', articles_path %></li>
    <% if logged_in? %>
        <li><%= link_to 'edit', edit_article_path(@article) %></li>
        <li><%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: 'Really delete the article?'} %></li>
    <% end %>
  </ul>
</nav>
