<h1 class="blog-title">Login</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag author_sessions_path, method: :post do %>
        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email %>
          <br/>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <br/>
        </div>
        <div class="actions">
          <%= submit_tag 'Login' %>
        </div>
    <% end %>
  </div>
</div>

<nav aria-label="...">
  <ul class="pager">
    <li>
      <%= link_to 'Back', articles_path %>
    </li>
  </ul>
</nav>