<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="flash">
  <%= flash.notice %>
</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 blog-sidebar">
      <%= render partial: 'layouts/sidebar' %>
    </div>
    <div class="col-sm-9 col-md-10 blog-main">
      <%= yield %>
    </div>
  </div>
</div>

<footer class="blog-footer">
  Rails app build for the jumpstart tutorial.
</footer>

</body>
</html>
